.container {
  width: 100vw;
  height: 100vh;
  background-color: #f0f0f0;
  position: relative;
  display: flex;
  flex-direction: row;

  .metrics {
    width: 25%;
    height: 100%;
  }

  .recent-streams {
    /* width: 100vw; */
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
